<div class="top-bar" style="background:{{filterBarBackgroundColor filters}};color:{{filterBarColor filters}}">
  <div class="title">
    {{filterHeader filters}}
  </div>
  {{#unless showFilters}}
    <div class="remove">&times;</div>
  {{/unless}}
  <div class="filters">
    {{#if showFilters}}
      <i class="fa fa-filter"></i><span>&nbsp;&nbsp;Hide Filters</span>
    {{else}}
      <i class="fa fa-filter"></i><span>&nbsp;&nbsp;Show Filters</span>
    {{/if}}
  </div>
  {{#ifNotEmpty filters}}
    <div class="clear-filters">
      <i class="fa fa-ban"></i><span>&nbsp;&nbsp;Clear</span>
    </div>
  {{/ifNotEmpty}}
</div>
{{#if showFilters}}
  <div class="filter-editor">
    <input class="class-input" type="text" placeholder="Class" value="{{#unless noClass}}{{class}}{{/unless}}"></input>
    <input class="instance-input" type="text" placeholder="Instance" value="{{filters.instance_key_base}}"></input>
    <input class="recipient-input" type="text" placeholder="Recipient" value="{{filters.recipient}}"></input>
    <button class="btn set-filters">Set Filters</button>
  </div>
{{/if}}