<div class="header">
  <div class="msg-class">{{class}}</div>
  {{#if instance}}
    <div class="msg-instance">{{instance}}</div>
  {{else}}
    <div class="msg-instance">*</div>
  {{/if}}
  <span class="time">{{prettyTime}}</span>
</div>
<div class="content">
  <div class="sender">
    {{sender}}
  </div>
  <div class="message-block">
    <div class="message">
      {{message}}
    </div>
    <div class="signature">
      {{signature}}
    </div>
  </div>
</div>